POSTGRES_USER=ticketsells
POSTGRES_PASSWORD=ticketsells
POSTGRES_DB=ticketsells
POSTGRES_PORT=5432

DATABASE_URL=postgresql://ticketsells:ticketsells@localhost:5432/ticketsells?schema=public
JWT_SECRET=change-me-to-a-long-random-secret
JWT_EXPIRES_IN=1d
PORT=3000

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE_PAGAMENTOS=pagamentos
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# API Read Access Token: https://www.themoviedb.org/settings/api
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MzI2NmM1NTZjZTZhZDc0NDM4YTgyMzdhMTM4MjMzMCIsIm5iZiI6MTc4Njc2NDE4MS43NTAwMDAyLCJzdWIiOiI2YTdmZGI5NTY1M2ZiMWNhYmU2Yzg5YTkiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.FIXiBb7_HDOcntkEFOrZqmnuSytMy_h98wB2NX5S8U8
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE=https://image.tmdb.org/t/p/w500
